body{
    overflow: scroll;
    background-color:  rgb(204, 213, 224);
    scrollbar-color: rgb(227, 190, 228) transparent;
      scrollbar-width:thin;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
body::-webkit-scrollbar-track {
    background-color:#fff701;
  }
body::-webkit-scrollbar-thumb {
    background-color:rgb(204, 156, 206);
  }

.pepe {
    
    position:relative;
    margin-top: 10px;
    margin-left: 20px;
    height: 90px;
 
   
  }
  .pepe-contenido {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 80px 80px 0px rgba(0,0,0,0.4);
    
  }
  .pepe:hover .pepe-contenido {
    display: block;
    font-family: 'Cormorant Garamond', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Handjet', cursive;
font-family: 'Press Start 2P', cursive;
font-size: large;

  }
  .pepe-contenido a {
    display:flex;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .pepe-contenido a:hover {
    color: #ff0000;
    background-color: #d39ae6;
  }

  .pepa{
    border-color: #0a5523;
    background-image: -webkit-radial-gradient(rgb(122, 196, 219), rgb(30, 106, 133), rgb(18, 50, 118));
    border-radius: 40%;
    display: flex;
    padding: 4px;
    cursor: pointer;
   
  }

  .pepa span{
    
    -webkit-text-fill-color: aliceblue;
    font-family: 'Dancing Script', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Handjet', cursive;
font-family: 'Press Start 2P', cursive;
font-size: smaller;
   
  }
  nav{
    display:grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background: rgb(166, 196, 222);
    position:fixed;
    top:0;
    width:100%;
    height: 60px;
    }

    @import url(https://fonts.googleapis.com/css?family=Varela+Round);

h1 {
  color: hsla(291, 91%, 25%, 0.9);
  font: normal 140px Varela Round, sans-serif;
  height: 140px;
  left: 0;
  letter-spacing: 5px;
  margin: -80px 0 0 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  width: 50%;
  animation: move linear 2000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 rgb(255, 230, 0), 
      3px -3px 0 rgb(255, 230, 0), 
      2px -2px 0 rgb(255, 230, 0), 
      1px -1px 0 rgb(255, 230, 0),
      -4px 4px 0 rgb(227, 148, 238), 
      -3px 3px 0 rgb(227, 148, 238), 
      -2px 2px 0 rgb(227, 148, 238), 
      -1px 1px 0 rgb(227, 148, 238)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0  rgb(227, 148, 238), 
      -3px -3px 0 rgb(227, 148, 238), 
      -2px -2px 0 rgb(227, 148, 238), 
      -1px -1px 0 rgb(227, 148, 238),
      4px 4px 0 rgb(255, 230, 0), 
      3px 3px 0 rgb(255, 230, 0), 
      2px 2px 0 rgb(255, 230, 0), 
      1px 1px 0 rgb(255, 230, 0)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 rgb(255, 230, 0), 
      -3px 3px 0 rgb(255, 230, 0), 
      -2px 2px 0 rgb(255, 230, 0), 
      -1px 1px 0 rgb(255, 230, 0),
      4px -4px 0 rgb(227, 148, 238), 
      3px -3px 0 rgb(227, 148, 238), 
      2px -2px 0 rgb(227, 148, 238), 
      1px -1px 0 rgb(227, 148, 238)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 rgb(227, 148, 238), 
      3px 3px 0 rgb(227, 148, 238), 
      2px 2px 0 rgb(227, 148, 238), 
      1px 1px 0 rgb(227, 148, 238),
      -4px -4px 0 rgb(255, 230, 0), 
      -3px -3px 0 rgb(255, 230, 0), 
      -2px -2px 0 rgb(255, 230, 0), 
      -1px -1px 0 rgb(255, 230, 0)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 rgb(255, 230, 0), 
      3px -3px 0 rgb(255, 230, 0), 
      2px -2px 0 rgb(255, 230, 0), 
      1px -1px 0 rgb(255, 230, 0),
      -4px 4px 0 rgb(227, 148, 238), 
      -3px 3px 0 rgb(227, 148, 238), 
      -2px 2px 0 rgb(227, 148, 238), 
      -1px 1px 0 rgb(227, 148, 238)
    ;
  }  
}


  
  .leer{
    margin: 120px 0 0 0;
    width: 500px;
  height: 500px;
  display: flex;
  display: grid;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 60px;
  background-color:rgb(224, 174, 216);
  scrollbar-color: #09C transparent;
  scrollbar-width: thin;
  }
  
  .leer::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .leer::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .leer::-webkit-scrollbar-thumb {
    background-color:rgb(225, 255, 0);
  }
  
  p{
    width: 400px;
   font-weight: 30px;
  margin: 20px 1px 20px 1px;
  }
  
  
  
  .todo{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
  
  }
  
  